.Homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  color: white;
  /* overflow-y: scroll; */
}

.Homepage .sign-in-btn {
  width: 250px;
}

.Homepage .homepage-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  bottom: 0px;
  width: 100vw;
}

.Homepage .homepage-buttons-container {
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0px;
  width: 100vw;
  padding: 25px 0px;
  z-index: 3;
}

.Homepage .homepage-buttons-container button {
  width: 200px;
  padding: 5px;
}

/* >>>>>>>>>>>>>>>>>> Animations <<<<<<<<<<<<<<<<<< */
/* .Homepage .fa-angle-up {
  color: white;
  font-size: 100px;
  text-decoration: none;
  transform: scale(4.5, 0.8);
  opacity: 0.4;
} */

.Homepage .nav-chevron {
  bottom: 10%;
  width: 90%;
  text-decoration: none;
  opacity: 0.9;
}

.Homepage.test {
  transform: translateY(-100vh);
  transition: 1s;
}
