.Homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  color: white;
  /* overflow-y: scroll; */
}

.Homepage .sign-in-btn {
  width: 250px;
}

.Homepage .sign-in-container {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
}

.Homepage .sign-in-container p {
  padding: 15px 25px;
  border: 4px solid rgb(255, 255, 255);
  border-radius: 30px;
  z-index: 1;
}

.Homepage .sign-in-container .sign-in-bg-img {
  position: absolute;
  z-index: 0;
  height: 100vh;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  filter: hue-rotate(15deg) brightness(60%) contrast(100%) blur(6px);
}

.Homepage .homepage-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  bottom: 0px;
  width: 100vw;
}

.Homepage .homepage-buttons-container {
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0px;
  width: 100vw;
  padding: 25px 0px;
  z-index: 3;
}

.Homepage .homepage-buttons-container button {
  width: 200px;
  padding: 5px;
}

/* >>>>>>>>>>>>>>>>>> Animations <<<<<<<<<<<<<<<<<< */
/* .Homepage .fa-angle-up {
  color: white;
  font-size: 100px;
  text-decoration: none;
  transform: scale(4.5, 0.8);
  opacity: 0.4;
} */

.Homepage .nav-chevron {
  bottom: 10%;
  width: 90%;
  text-decoration: none;
  opacity: 0.9;
}

.Homepage.test {
  transform: translateY(-100vh);
  transition: 1s;
}

/* >>>>>>>>>>>>>>>>>> Media Queries <<<<<<<<<<<<<<<<<< */
@media only screen and (min-width: 768px) {
  .Homepage .nav-chevron {
    height: 60px;
  }
}
