/* RESETS */
.MatchupFeed ul {
  margin: 0px;
  padding: 0px;
}

/* SPECIFICS */
.MatchupFeed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
}
