/* RESETS */
.MatchupFeed ul {
  margin: 0px;
  padding: 0px;
}

/* SPECIFICS */
.MatchupFeed {
  position: relative;
  display: flex;
  flex: 3;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-height: 80%;
}

.MatchupFeed .matchup-feed-list {
  overflow-y: scroll;
  max-height: 100%;
}
