/* RESETS */
.MatchupFeed ul {
  margin: 0px;
  padding: 0px;
}

/* SPECIFICS */
.MatchupFeed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 75%;
  box-sizing: border-box;
}

.MatchupFeed .matchup-feed-list {
  box-sizing: border-box;
  overflow-y: scroll;
  max-height: 100%;
}

.MatchupFeed .matchup-feed-list .MatchupFeedCard {
  box-sizing: border-box;
}

.MatchupFeed .matchup-feed-heading {
  max-width: 75%;
}

.MatchupFeed .matchup-feed-heading h1 {
  display: flex;
  position: relative;
  font-size: 24px;
  margin: 10px 0px;
}

.MatchupFeed .material-icons {
  text-decoration: none;
  color: black;
  position: absolute;
  font-size: 42px;
  left: -35px;
  top: -30%;
}

/* >>>>>>>>>>>> Media Queries <<<<<<<<<<<< */

@media only screen and (min-width: 768px) {
  .MatchupFeed {
    width: 60%;
  }
}
