/* SPECIFICS */
.NavCommunity {
  position: relative;
  display: flex;
  flex: 3;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 98vw;
  height: 66%;
  border-radius: 20px;
  overflow: hidden;
  color: white;
}

.NavCommunity .daily-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.NavCommunity .daily-list img {
  box-shadow: 0px 0px 40px 20px rgb(254, 242, 69);
  animation: 3s glow infinite;
}

.NavCommunity .bg-img {
  display: block;
  position: absolute;
  box-sizing: border-box;
  /* top: 0; */
  left: 0;
  right: 0;
  z-index: -1;
  min-height: 105%;
  width: 100%;
  background-position: center;
  background-size: contain;
  object-fit: cover;
  filter: hue-rotate(15deg) brightness(50%) contrast(110%) blur(4px);
  border-radius: 20px;
}

.NavCommunity .daily-stats {
  width: 100vw;
}
