/* SPECIFICS */
.NavFriends {
  position: relative;
  display: flex;
  flex: 3;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80%;
  box-sizing: border-box;
  overflow-y: scroll;
}

.NavFriends .is-green {
  color: rgb(0, 202, 84);
  font-weight: bold;
}

.NavFriends .is-red {
  color: rgb(207, 0, 0);
  font-weight: bold;
}
