.NavFooter {
  width: 98vw;
  height: 15%;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 2px;
  background-color: rgba(3, 123, 73, 0.611);
}

.NavFooter p {
  color: white;
}

.NavFooter .material-icons {
  color: rgb(255, 255, 255);
}

.NavFooter .nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.NavFooter .nav-container p {
  position: relative;
  font-size: 25px;
  margin-top: 17px;
}

.NavFooter .right-nav {
  position: absolute;
  right: -25px;
  bottom: -4px;
}

.NavFooter .left-nav {
  position: absolute;
  left: -25px;
  bottom: -4px;
}

.NavFooter .button {
  border: 2px solid rgb(255, 255, 255);
  border-radius: 15px;
  background-color: rgba(75 184 138 / 61%);
  color: white;
}

.NavFooter .signout {
  position: absolute;
  bottom: 3%;
  right: 5%;
  z-index: 2;
  padding: 5px 20px;
}

.NavFooter .return {
  position: absolute;
  bottom: 4%;
  transform: translate(-50%, 33%);
  padding: 10px 20px;
}
.button:hover {
  background-color: rgba(3, 123, 73, 0.611);
  cursor: pointer;
}
