.NavFriendListForm {
  font-family: "Segoe UI";
  text-decoration: none;
  height: 100%;
  margin: 5% 0%;
}

.NavFriendListForm ul {
  padding: 0px;
  margin: 0px;
}

.NavFriendListForm a {
  text-decoration: none;
}

.NavFriendListForm button,
.NavFriendListForm input {
  margin: 5px;
  padding: 5px 15px;
  border: 1px solid rgb(44, 44, 44);
  border-radius: 5px;
}

.NavFriendListForm .add-friend-status {
  margin: 0px;
  font-size: 12px;
}
