.NavFooter {
  width: 98vw;
  height: 15%;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 2px;
  background-color: rgba(3, 123, 73, 0.611);
}

.NavFooter p {
  color: white;
}

.NavFooter .material-icons {
  color: rgb(255, 255, 255);
}

.NavFooter .nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.NavFooter .nav-container p {
  position: relative;
  font-size: 22px;
}

.NavFooter .right-nav {
  position: absolute;
  right: -25px;
  bottom: -4px;
}

.NavFooter .left-nav {
  position: absolute;
  left: -25px;
  bottom: -4px;
}
